/*
|--------------------------------------------------------------------------
| Display
|--------------------------------------------------------------------------
|
| Utilities for controlling the display box type of an element.
|
*/

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.inline {
    display: inline;
}

.table {
    display: table;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
}

.hidden {
    display: none;
}

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

/*
|--------------------------------------------------------------------------
| Floats
|--------------------------------------------------------------------------
|
| Utilities for controlling the wrapping of content around an element.
|
*/

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.float-none {
    float: none;
}

.clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

/*
|--------------------------------------------------------------------------
| Overflow
|--------------------------------------------------------------------------
|
| Utilities for controlling how an element handles content that is too large
| for the container.
|
*/
.overflow-auto {
    overflow: auto;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-visible {
    overflow: visible;
}

.overflow-scroll {
    overflow: scroll;
}

.overflow-x-auto {
    overflow-x: auto;
}

.overflow-y-auto {
    overflow-y: auto;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

.overflow-x-visible {
    overflow-x: visible;
}

.overflow-y-visible {
    overflow-y: visible;
}

.overflow-x-scroll {
    overflow-x: scroll;
}

.overflow-y-scroll {
    overflow-y: scroll;
}

.scrolling-touch {
    -webkit-overflow-scrolling: touch;
}

.scrolling-auto {
    -webkit-overflow-scrolling: auto;
}

/*
|--------------------------------------------------------------------------
| Position
|--------------------------------------------------------------------------
|
| Utilities for controlling how an element is positioned in the DOM.
|
*/

.static {
    position: static;
}

.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.sticky {
    position: sticky;
}

.pin-t {
    top: 0;
}

.pin-r {
    right: 0;
}

.pin-b {
    bottom: 0;
}

.pin-l {
    left: 0;
}

.pin-y {
    top: 0;
    bottom: 0;
}

.pin-x {
    right: 0;
    left: 0;
}

.pin {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.pin-none {
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
}

/*
|--------------------------------------------------------------------------
| Visibility
|--------------------------------------------------------------------------
|
| Utilities for controlling the visible of an element.
|
*/

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}

/*
|--------------------------------------------------------------------------
| Z-Index
|--------------------------------------------------------------------------
|
| Utilities for controlling the stack order of an element.
|
*/

$z-indexes: 0 10 20 30 40 50 auto;
@each $z-index in $z-indexes {
    .z-#{$z-index} {
        z-index: $z-index;
    }
}
