/*
|--------------------------------------------------------------------------
| Border Collapse
|--------------------------------------------------------------------------
|
| Utilities for controlling whether table borders should collapse or be
| separated.
|
*/

.border-collapse {
    border-collapse: collapse;
}

.border-separate {
    border-collapse: separate;
}

/*
|--------------------------------------------------------------------------
| Table Layout
|--------------------------------------------------------------------------
|
| Utilities for controlling the table layout algorithm.
|
*/

.table-auto {
    table-layout: auto;
}

.table-fixed {
    table-layout: fixed;
}
